# Ignore Python virtual environment
myenv/

# Ignore environment variables
.env

# Ignore Node.js dependencies
frontend/node_modules/

Backend/secret_key.py

# Ignore Python cache
__pycache__/

insert.py
